.landing-page {
  width: 100vw;
  height: 100vw;
  margin: 10rem auto 0;

  .page__banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    width: 80%;

    .banner-left {
      .column-header {
        color: #2f80ed;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      .column-sub-header {
        font-weight: 700;
      }

      .header-text {
        color: #6984a3;
        font-size: 1.2rem;
        // width: 50vw;
      }

      .btn__wrapper {
        display: flex;
        flex-direction: column;

        .banner__cta-btn {
          background-color: #ff5a5a;
          box-shadow: 0 8px 16px 0 rgba(40, 43, 49, 0.1);
          border: none;
          border-radius: 4px;
          color: #fff;
          cursor: pointer;
          font-weight: 600;
          font-size: inherit;
          padding: 16px 32px;
          width: 16rem;
        }

        .btn__caption {
          color: #6984a3;
          padding: 10px 0;

          a {
            text-decoration: none;
            color: inherit;
            padding-bottom: 4px;
            border-bottom: 2px solid #2f80ed;

            &:hover {
              color: #2f80ed;
            }
          }
        }
      }
    }

    .banner-right {
      .banner__img {
        object-fit: contain;
      }

      .banner_img_1 {
        width: 80%;
      }

      .banner_img_2 {
        position: absolute;
        right: 677px;
        top: 310px;
        width: 10%;
      }

      .banner_img_3 {
        position: relative;
        top: -50px;
        right: -50px;
      }

      .banner_img_4 {
        position: relative;
        top: -200px;
        right: -100px;
      }
      .banner_img_5 {
        width: 10%;
        position: relative;
        top: -300px;
        right: 80px;
      }
    }
  }

  .supply__req-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2279f2;
    color: #fff;
    font-size: inherit;
    margin: 0 auto;
    padding: 16px 0;

    .supply__req-title {
      padding: 16px;
    }

    a {
      color: inherit;
      padding: 10px;
      border: 2px solid #fff;
      border-radius: 4px;
      text-decoration: none;

      &:hover {
        background-color: #fff;
        color: #2279f2;
      }
    }
  }

  .landing-page__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f9fe;
    padding: 5% 15%;

    .section_header {
      color: #2f80ed;
      font-size: 2rem;
      font-weight: 700;
      padding: 20px 10px;
    }

    .section_sub-header {
      color: #6984a3;
      font-size: 1.2rem;
      text-align: center;
      width: 60%;
    }

    .subscribe-form {
      margin: 1rem 0;

      .form-attr {
        height: 2rem;
        padding: 8px 16px;
        outline: none;
      }

      .user__email {
        width: 18rem;
        border: 2px solid #2f80ed;
        border-radius: 4px 0 0 4px;
        font-size: inherit;
      }

      .form__btn {
        background-color: #2f80ed;
        border-radius: 0 4px 4px 0;
        border: none;
        cursor: pointer;
        margin-left: -2px;
        height: 52px;
        color: #fff;
        font-size: inherit;
        font-weight: 700;
      }
    }

    .landing__page-disclaimer {
      color: #6984a3;
      margin-top: 16px;

      a {
        color: inherit;

        &:hover {
          color: #2f80ed;
        }
      }
    }
  }
}
