.landing-page {
  width: 100vw;
  height: 100vw;
  margin: 10rem auto 0;

  .landing-page__join {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f9fe;
    padding: 5% 15%;

    .section_header {
      color: #2f80ed;
      font-size: 2rem;
      font-weight: 700;
      padding: 20px 10px;
    }

    .section_sub-header {
      color: #6984a3;
      font-size: 1.2rem;
      text-align: center;
      width: 60%;
    }

    .subscribe-form {
      margin: 1rem 0;

      .form-attr {
        height: 2rem;
        padding: 8px 16px;
        outline: none;
      }

      .user__email {
        width: 18rem;
        border: 2px solid #2f80ed;
        border-radius: 4px 0 0 4px;
        font-size: inherit;
      }

      .form__btn {
        background-color: #2f80ed;
        border-radius: 0 4px 4px 0;
        border: none;
        cursor: pointer;
        margin-left: -2px;
        height: 52px;
        color: #fff;
        font-size: inherit;
        font-weight: 700;
      }
    }

    .landing__page-disclaimer {
      color: #6984a3;
      margin-top: 16px;

      a {
        color: inherit;

        &:hover {
          color: #2f80ed;
        }
      }
    }
  }
}
