.def-btn {
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #2f80ed;
  font-weight: 600;
  font-size: inherit;
  width: 6rem;
  height: 2rem;
  outline: none;
  cursor: pointer;
}

.submit-bg-color {
  background-color: #218838;
}
